* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    background-color: magenta;
    min-height: 85vh;
    margin-top: 17px;
    
    
}

header {
   position: relative;
}

nav {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: space-evenly;
    right: 0;
    font-size: 30px;
    padding: 10px;
    background-color: aqua;
    min-width: 35vw;
}

img {
    width: 170px;
    border-radius: 5%;
   
}

a {
    text-decoration: none;
}

#contact {
    padding-top: 30px;
}

#about {
   padding-top: 60px;
}

#experience {
    padding-top: 60px;
}

#links{
    position: absolute;
    bottom: 0;
}

#links img {
    width: 100px;
}


footer {
       position: absolute;
       bottom: 0;
}